@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
$text-primary: whitesmoke;
$text-secondary : rgb(73, 74, 74);

$bg-blue: rgb(31, 92, 245);

$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;

*{
    margin: 0;
    padding: 0;
}
