@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');
$text-primary: whitesmoke;
$text-secondary : rgb(73, 74, 74);

$blue: rgb(31, 92, 245);
$gray: rgb(158, 158, 158);
$yellow: yellow;

$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;

$primary-font : 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
}
